/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

     -fx-background-color:#ffffff;
}

.menu:hover
{
    -fx-text-fill:#006699;
    -fx-underline:true;
}
.menu_outro:hover
{
    -fx-underline:true;
}