/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}



.paneis
{
    -fx-border-color:#006699;
    -fx-background-color:#ffffff;
}
.Paineis:hover
{
    -fx-background-color: #e2e2e2;
    -fx-underline:true;
}
